@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="title">AmbulancePCR</h1>
    <p class="lead">For use of EMS professionals to document patient demographics/medical history, narratives, times, addresses, and any other pertinent information from an emergency call, or non-emergent transport.</p>
    <p><a href="~/PCR/Index" class="btn btn-primary btn-lg">Create a PCR &raquo;</a></p>
</div>

<div class="row">

</div>