body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: azure;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table.table {
    border: inset;
    border-width: medium;
    background-color: lightblue;
}

p.tableAction {
    border: inset;
    border-width: medium;
    padding: 4px;
    background-color: aliceblue;
    width: 156px;
    height: 32px;
    text-align: center;
    color: black;
}

a{
    color: black;
}

div.jumbotron {
    background-image: url(/Images/ambo2.jpg);
    background-size: cover;
    margin-top: 48px;
}

p.lead {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px;
    border-radius: 10px;
    width: 960px;

}

h1#title {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    justify-content: center;
    left: 600px;
}

div#navBar {
    background-color: antiquewhite;
}




